<form [formGroup]="addressGroup" novalidate (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Address Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field appearance="outline">
                <label>Country</label>
                <select matNativeControl placeholder="Country"
                        formControlName="country"
                >
                    <option *ngFor="let country of countries" [value]="country.id">
                        {{ country.label }}
                    </option>
                </select>
                <mat-error *ngIf="addressGroup.controls['country'].hasError('required')">
                    State is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput placeholder="Address" formControlName="addressLine1"/>
                <mat-error *ngIf="addressGroup.controls['addressLine1'].hasError('required')">
                    Address is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="!statesLabel">
                <input matInput placeholder="Address 2" formControlName="addressLine2"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput [matAutocomplete]="auto" placeholder="City" formControlName="city">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of cityOptions$ | async" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="addressGroup.controls['city'].hasError('required')">
                    City is <strong>required</strong>
                </mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline" *ngIf="statesLabel">
                <label>{{statesLabel}}</label>
                <select matNativeControl
                        placeholder="{{statesLabel}}"
                        formControlName="state"
                >
                    <option *ngFor="let state of states" [value]="state.id">
                        {{ state.label }}
                    </option>
                </select>
                <mat-error *ngIf="addressGroup.controls['state'].hasError('required')">
                    State is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput maxlength="5" placeholder="{{postalCode.label}}" formControlName="postalCode">
                <mat-hint align="end">{{postalCode.mask}}</mat-hint>
            </mat-form-field>

            <mat-checkbox
                    formControlName="yes"
            >Select me
            </mat-checkbox>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
