

/*select {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    height: 40px;
    padding: 9px 16px;
    border: 1px solid #ced6e2;
    border-radius: 3px;
    color: #394352;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-size: 20px 18px;
    background-position: calc(100% - 2px) 50%;
}*/

