<article class="hdca-product-box">
    <mat-card>
        <mat-card-header>
            <input  type="checkbox">
            <mat-checkbox #compareCheck>
                Compare
            </mat-checkbox>
            <app-badges [badges]="product?.badges"></app-badges>
        </mat-card-header>

        <mat-card-content>

            <ng-template #blankImage let-productName="description">
                No Image
                <p class="warn">{{productName}} has no image yet.</p>
                <img src="/assets/images/products/empty.jpg">
            </ng-template>

            <app-product-content [product]="product" [noImageTpl]="blankImage">
                <app-product-image [imageUrl]="'assets/images/products/'+product?.imageUrl">
                </app-product-image>
            </app-product-content>

        </mat-card-content>

        <mat-card-footer>
            <section class="hdca-product-box__main">
                <app-product-info [product]="product"></app-product-info>
                <app-product-purchase [product]="product"></app-product-purchase>
            </section>
        </mat-card-footer>
    </mat-card>

</article>


