<a routerLink="/products">All Products</a>
<a routerLink="/core">Core</a>
<br/>

<!--<input #searchInput matInput placeholder="Search">-->
<!--
<mat-form-field>

    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Start Type to perform search</mat-hint>
</mat-form-field>
-->

<br/>

<div>
    <a [routerLink]="['/product/1731002612']">1731002612</a><br/>
    <a [routerLink]="['/product/1911002432']">1911002432</a><br/>
   <!-- <a *rbacAllow="['ADMIN']" [routerLink]="['/product/1661232632']">1661232632</a><br/>-->
    <a [routerLink]="['/product/1231002632']">1231002632</a><br/>
    <a [routerLink]="['/product/1561002632']">1561002632</a><br/>
    <a [routerLink]="['/product/1781002632']">1781002632</a><br/>
    <a [routerLink]="['/product/1121002632']">1121002632</a><br/>
    <a [routerLink]="['/product/1461002632']">1461002632</a><br/>
</div>
<br/>
<br/>

<h3>From Store </h3>
<br/>
<div>
  <!--  <ng-container *ngFor="let id of (productIds$ | async)">
        <a routerLink="/product/store/{{id}}">{{id}}</a> <br/>
    </ng-container>-->
</div>


<div class="container">
   <!-- <mat-form-field>
        <input matInput digi-mask="(999) 999-9999" placeholder="Phone Number">
    </mat-form-field>
    <br/>

    <mat-form-field>
        <label>International Phone Number</label>
        <input matInput digi-mask="+99 999 99 99 99">
    </mat-form-field>
    <br/>

    <mat-form-field>
        <input matInput digi-mask="9999 9999 9999 9999">
    </mat-form-field>
    <br/>

    <mat-form-field>
        <label>VAT Number</label>
        <input matInput digi-mask="AA-9999 9999 9999 9999">
    </mat-form-field>
    <br/>

    <mat-form-field>
        <label>Date</label>
        <input matInput digi-mask="39/19/9999">
    </mat-form-field>
    <br/>

    <mat-form-field>
        <label>Text</label>
        <input matInput value="ABCD">
    </mat-form-field>-->


</div>
