<div>
    <mat-sidenav-container >
        <mat-sidenav #sidenav>
            <mat-list>
                <a mat-list-item routerLink='/core/admin'>Admin</a>
                <hr/>
                <a mat-list-item [routerLink]="[{ outlets: { settings: ['landing'] } }]">Lending</a>
                <hr/>

                <a mat-list-item [routerLink]="['/trader/live-trader']" queryParamsHandling="preserve" >Trader</a>
                &nbsp;&nbsp;

                <a mat-list-item routerLink='/scanner'>Scanner</a>

                <a mat-list-item routerLink='/my-exchange/balances/'>Balances</a>
                <hr/>
                <a mat-list-item routerLink='/login/register'>Register</a>
            </mat-list>
        </mat-sidenav>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
