<div>
    <mat-tab-group [selectedIndex]="tabLevel" class="navigation">
        <mat-tab>
            <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">

                <cdk-tree-node *cdkTreeNodeDef="let node" [cdkTreeNodePadding]=0.2
                               [style.display]="'flex'"
                               class="app-tree-node app-tree-leaf">
                    <div class="my-border {{node.complete?'complete':''}}"></div>
                    <a (click)="onLeafClick(node)">{{node.label}}</a>
                </cdk-tree-node>

                <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChildren"
                               [style.display]="'flex'"
                               class="app-tree-node level-{{node.level}}">
                    <button mat-icon-button cdkTreeNodeToggle
                            [color]="node.complete ? 'accent' : ''"
                            (click)="node.isExpanded = !node.isExpanded"
                            [style.visibility]="node.expandable ? 'visible' : 'hidden'">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{getIcon(node)}}
                        </mat-icon>
                    </button>
                    <a (click)="onLeafClick(node)">{{node.label}}</a>
                </cdk-tree-node>
            </cdk-tree>
        </mat-tab>
        <mat-tab>
            <a (click)="onBackClick()">Back</a>
        </mat-tab>
    </mat-tab-group>
</div>
